.decorations-rental {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	&__container,
	&__wrapper,
	&__hero-image {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__container {
		position: relative;
	}

	&__container,
	&__wrapper,
	&__hero-image {
		width: 100%;
	}

	&__wrapper {
		margin: 0 auto;
	}

	&__hero-image {
		height: 60vh;
		max-height: 1820px;
		background-image: url('../images/hero-bg-image.jpg');
		background-position: center;
		background-size: cover;
	}

	&__hero-image-title {
		padding: 1rem 0.5rem 2rem;
		color: var(--white-color);
		font-family: var(--font-love-light);
		font-size: 4.75rem;
		font-weight: 300;
		text-align: center;
	}
}

@media screen and (min-width: 350px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 5.5rem;
		}
	}
}

@media screen and (min-width: 400px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 5.85rem;
		}
	}
}

@media screen and (max-height: 500px) {
	.decorations-rental {
		&__hero-image {
			height: 100vh;
		}
	}
}

@media screen and (min-width: 640px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 7rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.decorations-rental {
		&__hero-image {
			background-image: url('../images/hero-bg-image-xl.jpg');
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 8rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.decorations-rental {
		&__hero-image {
			height: 57vh;
		}
	}
}

@media screen and (min-width: 1358px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 10rem;
		}
	}
}

@media screen and (min-width: 1536px) {
	.decorations-rental {
		&__hero-image-title {
			font-size: 11rem;
		}
	}
}
