.offer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 0 40px;
	width: 100%;
	min-height: 75vh;
	background-color: var(--dark-blue-color);
	overflow: hidden;

	&__container,
	&__wrapper,
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__container,
	&__wrapper {
		width: 100%;
	}

	&__container {
		max-width: 2160px;
	}

	&__wrapper {
		padding: 1em 0 50px;
	}

	&__title {
		padding-bottom: 2.5rem;
		color: var(--white-color);
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__box {
		padding: 1em;
		margin: 1em;
		width: 90%;
		max-width: 450px;
		background-color: var(--darker-blue-color);
		color: var(--white-color);
		border-radius: 1em;
		text-align: center;

		ul {
			padding: 0 1em 1em 2em;
			line-height: 2em;
			text-align: left;

			li:nth-of-type(4) {
				color: var(--gray-color);
			}
		}

		svg {
			fill: rgba(255, 255, 255, 0.2);
		}
	}

	&__box-special-text {
		padding: 0.75em;
		color: var(--gray-color);
		font-size: 1.4em;
		font-weight: 400;
		line-height: 32px;
	}

	&__box-title {
		padding: 0.25em 0;
		font-family: var(--font-dancing-script);
		font-size: 3.5em;
		font-weight: 400;
	}

	&__box-text {
		padding: 1em 0.5em;
		line-height: 1.5em;
	}

	&__box-button {
		padding: 0.85em 3em;
		margin: 2.75em 1.5em 1.5em;
		width: 215px;
		color: var(--darker-blue-color);
		background-color: var(--white-color);
		font-size: 1em;
		text-align: center;
		text-decoration: none;
		border: none;
		border-radius: 2px;
		box-shadow: inset 0 0 0.25em var(--white-color), 0 0 0.25em var(--white-color);
		letter-spacing: 1px;
		transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
		cursor: pointer;
	}

	&__special-decoration {
		height: 1px;
		width: 90%;
		margin-bottom: 0.75em;
		border: 1px solid var(--border-color);
	}
}

@media screen and (min-width: 350px) {
	.offer {
		&__title {
			font-size: 2.75rem;
		}
	}
}

@media screen and (min-width: 375px) {
	.offer {
		&__box {
			width: 80%;
		}

		&__box-title {
			font-size: 4em;
		}
	}
}

@media screen and (min-width: 500px) {
	.offer {
		&__box {
			width: 65%;
		}

		&__box-title {
			font-size: 4.5em;
		}
	}
}

@media screen and (min-width: 768px) {
	.offer {
		&__box {
			width: 50%;
		}

		&__box-title {
			font-size: 5em;
		}

		&__box-button {
			font-size: 1em;
		}
	}
}

@media screen and (min-width: 1024px) {
	.offer {
		&__title {
			font-size: 3rem;
		}

		&__box-button {
			width: 235px;

			&:hover {
				color: var(--white-color);
				background-color: var(--gray-color);
				box-shadow: inset 0 0 0.25em var(--gray-color), 0 0 0.25em var(--gray-color);
			}
		}
	}
}

@media screen and (min-width: 1358px) {
	.offer {
		padding-top: 70px;

		&__container,
		&__wrapper {
			flex-wrap: wrap;
		}

		&__container {
			padding-top: 0;
			padding-bottom: 3.2em;
		}

		&__wrapper {
			flex-direction: row;
			padding: 4em 0 2em;
		}

		&__title {
			padding: 0.5rem 0.85rem;
			font-size: 3.5rem;
		}

		&__box {
			margin: 0 3em;
			width: 50%;
			max-width: 450px;
		}

		&__box-special-text {
			font-size: 1.5em;
		}

		&__box-text {
			font-size: 1.05em;
		}

		ul {
			font-size: 1.05em;
		}
	}
}

@media screen and (min-width: 1536px) {
	.offer {
		&__box {
			padding: 2em 1em;

			a {
				font-size: 1.1em;
			}
		}
	}
}

@media screen and (min-width: 1720px) {
	.offer {
		&__box {
			margin: 0 3em;
		}
	}
}
