.contact {
	&__form {
		width: 100%;
		max-width: 600px;
	}
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;

	&__box,
	&__recaptcha-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	&__box {
		padding: 1em;
	}

	&__recaptcha-box {
		padding: 1em 0 1em 4px;

		div div div div iframe {
			border: 1px solid transparent;
			border-radius: 0.35em;
		}
	}

	&__label {
		padding-bottom: 0.25em;
		width: 100%;
		text-align: start;
	}

	&__input,
	&__textarea {
		position: relative;
		padding: 0.95em 3.25em 0.95em 0.75em;
		width: 100%;
		color: var(--black-color);
		background-color: transparent;
		border: 1px solid var(--black-color);
		font-family: var(--font-montserrat);
		font-size: 0.9em;
		letter-spacing: 1px;
		transition: border 0.3s, box-shadow 0.3s;
	}

	&__textarea {
		height: 200px;
		min-height: 120px;
		max-height: 300px;
		resize: vertical;
	}

	&__input,
	&__textarea {
		&:focus {
			border-color: var(--dark-brown-color);
			outline: var(--dark-brown-color);
		}

		&::placeholder {
			color: var(--placeholder-color);
			opacity: 1;
		}

		&[aria-invalid='true'] {
			border: 1px solid var(--error-color);
		}
	}

	&__input-error,
	&__textarea-error {
		padding-top: 0.25em;
		height: 1em;
		width: 100%;
		color: var(--error-color);
		font-size: 0.8em;
		text-align: center;
	}

	&__recaptcha-error {
		div div div div iframe {
			border: 3px solid var(--error-color);
		}
	}

	&__submit,
	&__return-btn {
		padding: 0.75em 3em;
		margin: 1em 1em 1.25em;
		width: 215px;
		color: var(--white-color);
		background-color: var(--dark-brown-color);
		font-family: var(--font-montserrat);
		font-size: 1em;
		text-align: center;
		text-decoration: none;
		border: none;
		border-radius: 2px;
		letter-spacing: 1px;
		transition: background-color 0.3s;
		cursor: pointer;
	}

	&__submit {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__submit--is-loading {
		pointer-events: none;
	}

	&__return-btn {
		opacity: 1;

		&--opacity {
			pointer-events: none;
			opacity: 0;
			cursor: default;
		}
	}

	&__loader {
		height: 1.2em;
		aspect-ratio: 2.5;
		--_g: no-repeat radial-gradient(farthest-side, #e0e0e0 90%, #0000);
		background: var(--_g), var(--_g), var(--_g), var(--_g);
		background-size: 20% 50%;
	}
}

@media screen and (min-width: 400px) {
	.form {
		&__input,
		&__textarea,
		&__label {
			width: 90%;
		}
	}
}

@media screen and (min-width: 500px) {
	.form {
		&__recaptcha-box {
			padding: 1em 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	.form {
		&__label,
		&__submit,
		&__return-btn {
			font-size: 1.1em;
		}

		&__input-error {
			font-size: 0.9rem;
		}

		&__textarea-error {
			font-size: 0.95em;
		}

		&__submit:hover,
		&__return-btn:hover {
			background-color: var(--brown-color);
		}

		&__loader {
			height: 22px;
		}
	}
}
