.contact {
	padding-top: 30px;
	margin-bottom: 3rem;
	width: 100%;

	&__container,
	&__title-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__title,
	&__title-box {
		padding-bottom: 2.5rem;
	}

	&__title {
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__title-box {
		position: relative;
		width: 100%;
		max-width: 600px;
	}

	&__title-subtext,
	&__title-info-box {
		padding: 1em 0.05em;
		width: 90%;
	}

	&__title-subtext {
		line-height: 1.8em;

		span {
			font-weight: 600;
		}

		a {
			color: var(--black-color);
			text-underline-offset: 2px;
			transition: color 0.3s;
			cursor: pointer;
		}
	}

	&__title-info-box {
		list-style-type: none;

		li {
			display: flex;
			align-items: center;
			flex-direction: row;
			padding: 0.5em 0;
			margin: 0.25em 0;
			width: 100%;

			div:first-of-type {
				display: block;
				margin-right: 20px;

				svg {
					font-size: 28px;
				}
			}
		}

		li:nth-of-type(2) div svg {
			margin-top: 5px;
		}

		p {
			padding: 0.25rem 0;
			font-weight: 400;
		}

		p:first-of-type {
			font-weight: 500;
		}

		a {
			color: var(--black-color);
			text-underline-offset: 2px;
			transition: color 0.3s;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 350px) {
	.contact {
		&__title-info-box li {
			margin: 0.5em 0;
			align-items: start;
			flex-direction: column;
		}
	}
}

@media screen and (min-width: 350px) {
	.contact {
		&__title {
			font-size: 2.75rem;
		}
	}
}

@media screen and (min-width: 400px) {
	.contact {
		&__title-subtext,
		&__title-info-box {
			padding: 1em 0.4em;
			margin-left: -18px;
			width: 84%;
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 550px) {
	.contact {
		&__title-subtext,
		&__title-info-box {
			margin-left: -10px;
		}
	}
}

@media screen and (min-width: 768px) {
	.contact {
		&__title-info-box {
			text-align: left;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.contact {
		margin-bottom: 4rem;
	}
}

@media screen and (min-width: 1024px) {
	.contact {
		&__title {
			font-size: 3rem;
		}

		&__title-subtext,
		&__title-info-box {
			a:hover {
				color: var(--dark-brown-color);
			}

			a:active {
				opacity: 0.65;
			}
		}
	}
}

@media screen and (min-width: 1358px) {
	.contact {
		padding-top: 70px;
		margin-bottom: 5rem;

		&__container,
		&__title-box {
			align-items: start;
		}

		&__container {
			flex-direction: row;
		}

		&__title-box {
			position: relative;
			display: flex;
			justify-content: center;
			margin-left: 4rem;
		}

		&__title,
		&__title-subtext {
			text-align: left;
		}

		&__title {
			padding: 0.5rem 0.85rem 0 0.9rem;
			margin-left: -3px;
			width: 100%;
			font-size: 3.5rem;
		}

		&__title-subtext {
			padding: 2rem 4rem 1rem 2.1rem;
		}

		&__title-info-box {
			padding: 2rem 2.25rem 2rem 2.6rem;
			max-width: 400px;
			justify-content: start;

			li div:first-of-type {
				margin-left: -9px;
			}
		}

		&__form {
			margin-right: 2.5rem;
		}
	}
}

@media screen and (min-width: 1536px) {
	.contact {
		&__title-info-box,
		&__title-subtext {
			font-size: 1.05rem;
		}
	}
}

@media screen and (min-width: 1720px) {
	.contact {
		&__title-box {
			margin-left: 2em;
		}
	}
}
