:root {
	--white-color: #f0f0f0;
	--light-brown-color: #ebe1dd;
	--brown-color: #996f63;
	--dark-brown-color: #6b4d45;
	--light-gray-color: #c4c4c4;
	--placeholder-color: #8a8989;
	--error-color: #fc4848;
	--border-color: rgba(255, 255, 255, 0.3);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	color: var(--dark-brown-color);
	background-color: var(--white-color);
	font-family: var(--font-montserrat);
}

.white-gradient {
	background: rgba(245, 245, 245, 0.1);
	border: 1px solid var(--border-color);
	border-radius: 12px;
	box-shadow: inset 0 0 0.25em var(--white-color), 0 0 0.25em var(--white-color);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.dark-blue-gradient {
	background-color: rgba(21, 26, 41, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	right: 20px;
}

/* Gallery mosaic */

.image-mosaic {
	display: grid;
	row-gap: 1rem;
	column-gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1);
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 500ms;
	overflow: hidden;
	z-index: 10;
}

.card-with-bg {
	background-color: #353535;
	animation: loading 2.5s alternate infinite;
}

@media screen and (min-width: 500px) {
	.image-mosaic {
		gap: 1rem;
	}
}

@media screen and (min-width: 580px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}
}

@keyframes loading {
	to {
		background-color: #6d6d6d;
	}
}
