.decorations {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	&__container,
	&__wrapper,
	&__hero-image,
	&__content-wrapper,
	&__info,
	&__info-text-content-box,
	&__form-container,
	&__form-title-box,
	&__form-title-info-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__container,
	&__gallery {
		position: relative;
	}

	&__wrapper,
	&__hero-image,
	&__info,
	&__form,
	&__form-title-box,
	&__work-form {
		width: 100%;
	}

	&__wrapper {
		margin: 0 auto;
	}

	&__hero-image {
		height: 40vh;
		background-image: url('../../../../images/subpages/decorations-subpage/hero-bg-image.jpg');
		background-position: center;
		background-size: cover;
	}

	&__hero-image-title {
		color: var(--white-color);
		font-size: 3rem;
		font-weight: 300;
		text-align: center;
	}

	&__title {
		padding: 0 0.35rem 2rem;
		color: var(--dark-brown-color);
		font-size: 2.5rem;
		font-weight: 300;
		text-align: center;

		&--special {
			padding-top: 50px;
		}
	}

	&__info {
		position: relative;
		padding: 50px 0 2rem;
		overflow: hidden;
	}

	&__info-text-content {
		padding-bottom: 1em;
	}

	&__info-text-content-box {
		margin: 2em;
		padding: 2em 0.5em 0;
		max-width: 300px;
		border: none;
		border-radius: 1.5em;

		-webkit-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);
		-moz-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);
		box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.25);

		h3 {
			padding: 1em;
			font-size: 1.5em;
			font-weight: 300;
			font-style: italic;
			text-align: center;
		}

		p {
			padding: 0 0.75em 2em;
			text-align: center;
			font-weight: 350;
			line-height: 1.6em;

			span {
				font-weight: 700;
			}
		}
	}

	&__gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 0 76px;
		width: 100%;
		background-color: var(--light-brown-color);
		color: var(--white-color);
		overflow: hidden;
	}

	&__gallery-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 1em 0;
		width: 100%;
	}

	&__gallery-mosaic-container {
		width: 100%;
		max-width: 1000px;
	}

	&__form {
		position: relative;
		padding: 30px 0 40px;
		overflow: hidden;
	}

	&__form-title {
		padding-bottom: 2rem;
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__form-title-box {
		padding-bottom: 2.5rem;
		max-width: 600px;
	}

	&__form-title-subtext {
		padding: 1rem;
		width: 90%;
		max-width: 400px;
		text-align: center;
		line-height: 1.8em;

		span {
			font-weight: 600;
		}

		a {
			color: var(--dark-brown-color);
			text-underline-offset: 2px;
			transition: color 0.3s;
		}
	}

	&__form-title-info-box {
		padding: 2rem 0;
		width: 90%;
		max-width: 400px;
		list-style-type: none;
		text-align: center;

		li {
			padding: 0.5em;
			width: 100%;
		}

		p {
			padding: 0.25rem 0;
			font-weight: 400;

			span {
				font-weight: 600;
			}
		}

		p:first-of-type {
			font-weight: 500;
		}
	}

	&__form-special-text {
		line-height: 1.6em;
	}

	&__info-special-block,
	&__gallery-special-block {
		position: absolute;
		bottom: 0;
		width: 40%;
		height: 40px;

		&--left {
			left: -50px;
			transform: skew(45deg);
		}

		&--right {
			right: -50px;
			transform: skew(-45deg);
		}
	}

	&__info-special-block {
		background-color: var(--light-brown-color);
	}

	&__gallery-special-block {
		background-color: var(--white-color);
	}
}

@media screen and (max-width: 300px) {
	.decorations {
		&__form-title-info-box {
			li {
				padding: 0.5em 0;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.decorations {
		&__gallery-container {
			padding: 1.5em 0.5em 0;
		}
	}
}

@media screen and (min-width: 350px) {
	.decorations {
		&__title {
			font-size: 2.75rem;
		}

		&__hero-image-title {
			font-size: 3.35rem;
		}

		&__form-title {
			font-size: 2.75rem;
		}
	}
}

@media screen and (max-height: 500px) {
	.decorations {
		&__hero-image {
			height: 60vh;
		}

		&__hero-image-title {
			font-size: 4rem;
		}
	}
}

@media screen and (max-width: 540px) {
	.decorations {
		&__gallery-image--first,
		&__gallery-image--third,
		&__gallery-image--fifth {
			grid-column: 1/-1;
		}

		&__gallery-image--second,
		&__gallery-image--fourth,
		&__gallery-image--sixth {
			display: none !important;
		}

		&__gallery-image--seventh {
			grid-column: 1/-1;
		}
	}
}

@media screen and (min-width: 540px) {
	.decorations {
		&__gallery-image--seventh {
			grid-column: 1/-1;
		}
	}
}

@media screen and (min-width: 768px) {
	.decorations {
		&__hero-image-title {
			font-size: 4rem;
		}

		&__info-text-content-box {
			max-width: 325px;
		}

		&__gallery {
			padding: 30px 0 96px;
		}

		&__gallery-image--seventh {
			grid-column: 2/4;
		}

		&__info-special-block,
		&__gallery-special-block {
			width: 35%;
			height: 50px;
		}
	}
}

@media screen and (min-width: 868px) and (max-width: 1358px) {
	.decorations {
		&__gallery-container {
			padding: 1.5em 1em 5em;
		}
	}
}

@media screen and (min-width: 868px) {
	.decorations {
		&__gallery {
			padding: 30px 0 70px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.decorations {
		&__hero-image-title {
			font-size: 4.5rem;
		}

		&__content-wrapper {
			width: 100%;
			max-width: 1000px;
			flex-direction: row;
		}

		&__title {
			font-size: 3rem;
		}

		&__hero-image {
			background-image: url('../../../../images/subpages/decorations-subpage/hero-bg-image-xl.jpg');
		}

		&__info-text-content {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 3em;
			max-width: 1000px;
		}

		&__info-text-content-box {
			max-width: 425px;
		}

		&__info {
			padding-bottom: 3rem;
		}

		&__gallery-mosaic-container {
			width: 90%;
		}

		&__form-title-subtext a:hover {
			color: var(--brown-color);
		}
	}
}

@media screen and (min-width: 1358px) {
	.decorations {
		&__hero-image-title {
			font-size: 5rem;
		}

		&__info {
			padding-top: 70px;
		}

		&__title {
			font-size: 3.5rem;

			&--special {
				padding-top: 70px;
			}
		}

		&__gallery {
			padding-top: 34px;
		}

		&__gallery-container {
			padding: 1.5em 1em 0.5em;
		}

		&__gallery-mosaic-container {
			padding: 2em 0;
		}

		&__form {
			padding-top: 70px;
		}

		&__form-container {
			align-items: start;
			flex-direction: row;
		}

		&__form-title-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: start;
			margin-left: 4rem;
		}

		&__form-title,
		&__form-title-subtext {
			text-align: left;
		}

		&__form-title {
			padding: 0.5rem 0.85rem 0 0.9rem;
			width: 100%;
			font-size: 3.5rem;
		}

		&__form-title-info-box {
			padding: 2rem 2.25rem;
			max-width: 400px;
			justify-content: start;
			font-size: 1.1rem;
			list-style-type: disc;
			text-align: left;
		}

		&__info-special-block,
		&__gallery-special-block {
			height: 45px;
			width: 42%;

			&--right {
				display: none;
			}
		}
	}
}
