:root {
	--white-color: #f0f0f0;
	--light-brown-color: #ebe1dd;
	--brown-color: #996f63;
	--dark-brown-color: #6b4d45;
	--light-gray-color: #c4c4c4;
	--yellow-color: #ffdf00;
	--darker-yellow-color: #e5c600;
	--placeholder-color: #8a8989;
	--error-color: #fc4848;
	--border-color: rgba(255, 255, 255, 0.3);
}
