.animate-slide-in {
	animation: slideIn 0.5s ease-out;
}

.animate-slide-out {
	animation: slideOut 0.5s ease-out;
}

.animate-fade-in {
	animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
	animation: fade-out 0.3s ease-out forwards;
}

.animate-opacity {
	animation: fade-in 1s forwards;
}

@keyframes slideIn {
	0% {
		-webkit-transform: translateX(120%);
		transform: translateX(120%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes slideOut {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(120%);
		transform: translateX(120%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
