.opinions {
	position: relative;
	padding: 30px 0 40px;
	width: 100%;
	background-image: url('../images/bg-image.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;

	&__container,
	&__box {
		position: relative;
	}

	&__container,
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	&__wrapper {
		padding-top: 1em;

		ul li {
			padding-top: 1em;
		}
	}

	&__container {
		padding: 1em 0;
		margin: 0 auto;
		max-width: 2160px;
	}

	&__title {
		padding-bottom: 0.5rem;
		color: var(--white-color);
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__wrapper {
		overflow: hidden;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding: 1em;
		margin: 2em;
		background-color: rgba(85, 61, 55, 0.85);
		color: var(--white-color);
		border-radius: 0.5em;
		line-height: 1.6em;

		h3 {
			padding: 2.75em 0 0.75em;
			font-weight: 400;
			text-align: center;
		}

		a {
			position: absolute;
			bottom: 15px;
			right: 15px;
			color: var(--white-color);
			font-weight: 200;
			text-align: right;
			text-underline-offset: 1px;
			text-decoration-thickness: 1px;
			transition: color 0.3s;
		}
	}

	&__box-date {
		padding: 3em 0 1em;
		font-weight: 200;
		font-style: italic;
	}

	&__box-star {
		margin: 0 0.15em;
		fill: var(--yellow-color);
	}

	&__box-text {
		padding: 0.5em 0.25em 3.5em 0;
		font-weight: 400;
		text-align: center;
	}

	&__box-image {
		position: absolute;
		top: -40px;
		right: 50%;
		transform: translateX(50%);
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;

		&--1 {
			background-image: url('../images/opinion-image/first-opinion.jpg');
		}

		&--2 {
			background-image: url('../images/opinion-image/second-opinion.jpg');
		}

		&--3 {
			background-image: url('../images/opinion-image/third-opinion.jpg');
		}

		&--4 {
			background-image: url('../images/opinion-image/fourth-opinion.jpg');
		}

		&--5 {
			background-image: url('../images/opinion-image/fifth-opinion.jpg');
		}

		&--6 {
			background-image: url('../images/opinion-image/sixth-opinion.jpg');
		}

		&--7 {
			background-image: url('../images/opinion-image/seventh-opinion.jpg');
		}

		&--8 {
			background-image: url('../images/opinion-image/eighth-opinion.jpg');
		}

		&--9 {
			background-image: url('../images/opinion-image/nineth-opinion.jpg');
		}

		&--10 {
			background-image: url('../images/opinion-image/tenth-opinion.jpg');
		}

		&--11 {
			background-image: url('../images/opinion-image/eleventh-opinion.jpg');
		}

		&--12 {
			background-image: url('../images/opinion-image/twelveth-opinion.jpg');
		}

		&--13 {
			background-image: url('../images/opinion-image/thirteenth-opinion.jpg');
		}

		&--14 {
			background-image: url('../images/opinion-image/fourteenth-opinion.jpg');
		}

		&--15 {
			background-image: url('../images/opinion-image/fifteenth-opinion.jpg');
		}

		&--16 {
			background-image: url('../images/opinion-image/sixteenth-opinion.jpg');
		}
	}

	&__error {
		padding: 4em 0.5em;
		color: var(--white-color);
		font-size: 1.35em;
		text-align: center;
	}

	&__special-block {
		position: absolute;
		bottom: 0;
		width: 40%;
		height: 40px;
		background-color: var(--light-brown-color);

		&--left {
			left: -50px;
			transform: skew(45deg);
		}

		&--right {
			right: -50px;
			transform: skew(-45deg);
		}
	}
}

@media screen and (min-width: 350px) {
	.opinions {
		&__title {
			font-size: 2.75rem;
		}
	}
}

@media screen and (min-width: 375px) {
	.opinions {
		&__error {
			padding: 7em 0.5em;
		}
	}
}

@media screen and (min-height: 320px) and (max-height: 550px) {
	.opinions {
		&__error {
			padding: 2em 0.5em;
		}
	}
}

@media screen and (min-width: 768px) {
	.opinions {
		&__error {
			padding: 9em 0.5em;
		}

		&__special-block {
			width: 35%;
			height: 50px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.opinions {
		&__container {
			padding-top: 0;
			padding-bottom: 3.2em;
		}

		&__title {
			font-size: 3rem;
		}

		&__box {
			h3 {
				font-size: 1.2em;
			}

			a:hover {
				color: var(--light-brown-color);
			}
		}

		&__error {
			padding: 6.725em 0.5em;
			font-size: 1.5em;
		}
	}
}

@media screen and (min-width: 1280px) {
	.opinions {
		&__container {
			width: 100%;
			height: 100%;
		}
	}
}

@media screen and (min-width: 1358px) {
	.opinions {
		padding-top: 70px;

		&__wrapper {
			padding: 1em 0;
		}

		&__title {
			padding: 0.5rem 0.85rem;
			font-size: 3.5rem;
		}

		&__box {
			max-width: 900px;
		}

		&__special-block {
			height: 45px;
			width: 42%;

			&--right {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1536px) {
	.opinions {
		&__wrapper {
			margin-top: 2em;
		}

		&__group {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1rem;
		}

		&__box {
			max-width: 400px;
		}
	}
}
