.offer-carousel {
	.carousel {
		max-width: 310px;
		width: 100%;
		height: 700px;
	}

	.carousel .slider-wrapper {
		max-width: 280px;
		width: 100%;
	}

	.carousel .slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.carousel .control-arrow {
		background: none !important;
		width: 40px;
		height: 40px;
		top: 50% !important;
		transform: translateY(-50%);
		transition: opacity 0.3s;
		opacity: 0.9;

		&:focus,
		&:active,
		&:hover {
			background: none !important;
		}

		&:hover {
			opacity: 0.5;
		}
	}

	.carousel .control-prev {
		left: -5px !important;
	}

	.carousel .control-next {
		right: -5px !important;
	}

	.carousel .control-dots {
		bottom: -10px;
	}

	@media screen and (min-width: 300px) {
		.carousel .slider-wrapper {
			max-width: max-content;
			width: 100%;
		}
	}

	@media screen and (min-width: 350px) {
		.carousel {
			max-width: 350px;
		}
	}

	@media screen and (min-width: 400px) {
		.carousel {
			max-width: 400px;
		}
	}

	@media screen and (min-width: 500px) {
		.carousel {
			max-width: 500px;
		}
	}

	@media screen and (min-width: 650px) {
		.carousel .control-prev {
			left: -10px !important;
		}

		.carousel .control-next {
			right: -10px !important;
		}
	}

	@media screen and (min-width: 768px) {
		.carousel {
			height: 840px;
		}
	}

	@media screen and (min-width: 1024px) {
		.carousel {
			max-width: 600px;
		}

		.carousel .slide {
			padding-top: 0.5em;
		}
	}

	@media screen and (min-width: 1358px) {
		.carousel .control-dots {
			bottom: -10px;
		}
	}

	@media screen and (min-width: 1536px) {
		.carousel {
			width: 100%;
			max-width: 1500px;
		}

		.carousel-root {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			width: 100%;
		}
	}
}
